.git
.gitignore
.dockerignore
package-lock.json
package.json
Dockerfile
README.md
LICENSE
.build/
.Releases/
node_modules
.env
*.key
*.pem
.dockerignore
docker-compose-dev*.yml
.build/
.Releases/
node_modules/
static/fonts/unused/
.env
*.key
*.pem
*.com
*.class
*.dll
*.exe
*.o
*.so
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.sql
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
package-lock.json
package.json
tailwind.config.js