<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dockpeek</title>
  <link href="/static/css/tailwindcss.css" rel="stylesheet">
  <link rel="icon" type="image/svg+xml" href="/static/images/logo.svg">
</head>

<body class="p-6 dark-mode">
  <div class="container mx-auto bg-white rounded-lg shadow-xl p-8">
    <div class="flex justify-between items-center mb-6">
      <div class="flex items-center space-x-4">
        <h1 class="logo-title text-3xl font-bold">dockpeek</h1>
      </div>
      <div class="flex space-x-4 items-center text-sm controls-container">
        <div class="status-filter flex items-center space-x-3">
          <label for="filter-running-checkbox"
            class="text-sm text-gray-600 dark:text-gray-400 cursor-pointer select-none">
            Running only
          </label>
          <label class="toggle-switch">
            <input type="checkbox" id="filter-running-checkbox" class="hidden">
            <span class="slider"></span>
          </label>
        </div>

        <button id="refresh-button" data-tooltip="Refresh Data"
          class="p-2 bg-gray-200 text-gray-700 rounded-lg hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-75">
          <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M21 3V8M21 8H16M21 8L18 5.29168C16.4077 3.86656 14.3051 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21C16.2832 21 19.8675 18.008 20.777 14"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
        <button id="theme-switcher"
          class="p-2 bg-gray-200 text-gray-700 rounded-lg hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-75">
          <span id="theme-icon"> </span>
        </button>
        <button id="check-updates-button" class="px-4 py-2 rounded-lg font-medium">
          <svg fill="currentColor" width="20" height="20" viewBox="2 2 52 52" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M28 51.906c13.055 0 23.906-10.828 23.906-23.906 0-13.055-10.875-23.906-23.93-23.906C14.899 4.094 4.095 14.945 4.095 28c0 13.078 10.828 23.906 23.906 23.906m0-3.984C16.937 47.922 8.1 39.062 8.1 28c0-11.04 8.813-19.922 19.876-19.922 11.039 0 19.921 8.883 19.945 19.922.023 11.063-8.883 19.922-19.922 19.922m0-31.969c-.516 0-.89.188-1.36.656l-7.968 7.922c-.305.305-.445.727-.445 1.219 0 .96.726 1.688 1.687 1.688.492 0 .937-.188 1.242-.516l2.906-2.93 2.368-2.812-.188 4.945v12.21c0 1.032.727 1.759 1.758 1.759 1.008 0 1.758-.727 1.758-1.758V26.125l-.188-4.969 2.367 2.836 2.907 2.93c.304.351.726.515 1.242.515.96 0 1.71-.726 1.71-1.687 0-.492-.163-.914-.491-1.219l-7.922-7.922c-.469-.445-.867-.656-1.383-.656" />
          </svg>
          Check for updates
        </button>
        <a href="/logout" id="logout-button"
          class="px-4 py-2 bg-red-500 text-white rounded-lg hover:bg-red-600 ease-in-out focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-opacity-75 text-center font-medium">
          Logout
        </a>
      </div>
    </div>

    <div class="mb-6 relative flex items-center">
      <input type="text" id="search-input" placeholder="Search: name, image, stack, #tag, :port"
        class="w-full p-3 pr-12 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">

      <div class="absolute right-18 flex items-center space-x-3">
        <button id="clear-search-button" class="mr-3 text-gray-400 hover:text-gray-600 focus:outline-none hidden"
          data-tooltip="Clear search">
          <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round">
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        </button>

        <label for="filter-updates-checkbox"
          class="hidden md:inline text-sm text-gray-600 dark:text-gray-400 cursor-pointer select-none">
          Update available
        </label>
        <label class="toggle-switch">
          <input type="checkbox" id="filter-updates-checkbox" class="hidden">
          <span class="slider"></span>
        </label>
      </div>

      <div id="column-menu-button" class="column-menu-container">
        <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
          class="column-menu-svg">
          <path
            d="M8.97436 2.41026C8.25641 2.20513 7.23077 2 6.41026 2C5.58974 2 4.5641 2.20513 3.84615 2.41026C3.02564 2.51282 2.51282 3.23077 2.41026 3.94872C2.30769 5.48718 2 9.38462 2 12.0513C2 14.7179 2.30769 18.6154 2.41026 20.1538C2.51282 20.9744 3.02564 21.5897 3.74359 21.6923C4.46154 21.8974 5.48718 22 6.30769 22C7.1282 22 8.15385 21.7949 8.87179 21.6923C9.58974 21.4872 10.2051 20.8718 10.2051 20.1538C10.3077 18.6154 10.6154 14.7179 10.6154 12.0513C10.6154 9.38462 10.3077 5.48718 10.2051 3.94872C10.3077 3.23077 9.79487 2.51282 8.97436 2.41026Z"
            fill="currentcolor"></path>
          <path
            d="M21.6923 3.94882C21.5897 3.12831 21.0769 2.51292 20.3589 2.41036C19.641 2.20523 18.6154 2.10266 17.7948 2.10266C16.9743 2.10266 15.8461 2.20523 15.1282 2.41036C14.4102 2.61548 13.7948 3.23087 13.7948 3.94882C13.6923 5.48728 13.3846 9.38472 13.3846 12.0514C13.3846 14.7181 13.6923 18.6155 13.7948 20.1539C13.8974 20.9745 14.4102 21.5898 15.1282 21.6924C15.8461 21.8975 16.8718 22.0001 17.6923 22.0001C18.5128 22.0001 19.5384 21.795 20.2564 21.6924C20.9743 21.4873 21.5897 20.8719 21.5897 20.1539C21.6923 18.6155 22 14.7181 22 12.0514C22 9.38472 21.7948 5.48728 21.6923 3.94882Z"
            fill="currentcolor"></path>
        </svg>
        </svg>
        <div id="column-menu" class="column-menu hidden">
          <div id="column-list" class="column-list">
            <div class="column-menu-item draggable" data-column="name">
              <div class="drag-handle">⋮⋮</div>
              <label for="toggle-name">
                <span>Name</span>
                <div class="toggle-switch">
                  <input type="checkbox" id="toggle-name" checked>
                  <span class="slider"></span>
                </div>
              </label>
            </div>

            <div class="column-menu-item draggable" data-column="stack">
              <div class="drag-handle">⋮⋮</div>
              <label for="toggle-stack">
                <span>Stack</span>
                <div class="toggle-switch">
                  <input type="checkbox" id="toggle-stack" checked>
                  <span class="slider"></span>
                </div>
              </label>
            </div>

            <div class="column-menu-item draggable" data-column="server">
              <div class="drag-handle">⋮⋮</div>
              <label for="toggle-server">
                <span>Server</span>
                <div class="toggle-switch">
                  <input type="checkbox" id="toggle-server" checked>
                  <span class="slider"></span>
                </div>
              </label>
            </div>

            <div class="column-menu-item draggable" data-column="ports">
              <div class="drag-handle">⋮⋮</div>
              <label for="toggle-ports">
                <span>Ports</span>
                <div class="toggle-switch">
                  <input type="checkbox" id="toggle-ports" checked>
                  <span class="slider"></span>
                </div>
              </label>
            </div>

            <div class="column-menu-item draggable" data-column="traefik">
              <div class="drag-handle">⋮⋮</div>
              <label for="toggle-traefik">
                <span>Traefik</span>
                <div class="toggle-switch">
                  <input type="checkbox" id="toggle-traefik" checked>
                  <span class="slider"></span>
                </div>
              </label>
            </div>

            <div class="column-menu-item draggable" data-column="image">
              <div class="drag-handle">⋮⋮</div>
              <label for="toggle-image">
                <span>Image</span>
                <div class="toggle-switch">
                  <input type="checkbox" id="toggle-image" checked>
                  <span class="slider"></span>
                </div>
              </label>
            </div>

            <div class="column-menu-item draggable" data-column="tags">
              <div class="drag-handle">⋮⋮</div>
              <label for="toggle-tags">
                <span>Tags</span>
                <div class="toggle-switch">
                  <input type="checkbox" id="toggle-tags" checked>
                  <span class="slider"></span>
                </div>
              </label>
            </div>

            <div class="column-menu-item draggable" data-column="status">
              <div class="drag-handle">⋮⋮</div>
              <label for="toggle-status">
                <span>Status</span>
                <div class="toggle-switch">
                  <input type="checkbox" id="toggle-status" checked>
                  <span class="slider"></span>
                </div>
              </label>
            </div>
          </div>

          <div class="column-menu-reset text-sm">
            <a href="#" id="reset-columns-button" class="reset-columns-btn">
              Reset all
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="server-filter-container" class="mb-4 ml-2 flex flex-wrap gap-2"></div>
    <div id="container-table-wrapper" class="overflow-x-auto rounded-lg overflow-hidden">
      <table id="main-table" class="min-w-full bg-white">
        <thead class="main-table-header">
          <tr>
            <th
              class="table-cell-name py-3 px-4 text-left text-sm font-semibold text-gray-700 border-b border-gray-200 sortable-header"
              data-sort-column="name">
              Name
            </th>
            <th
              class=" table-cell-stack py-3 px-4 text-left text-sm font-semibold text-gray-700 border-b border-gray-200 sortable-header"
              data-sort-column="stack">
              Stack
            </th>
            <th
              class="server-column table-cell-server py-3 px-4 text-left text-sm font-semibold text-gray-700 border-b border-gray-200 sortable-header server-column"
              data-sort-column="server">
              Server
            </th>
            <th
              class="table-cell-ports py-3 px-4 text-left text-sm font-semibold text-gray-700 border-b border-gray-200 sortable-header"
              data-sort-column="ports">
              Ports
            </th>
            <th
              class="traefik-column table-cell-traefik py-3 px-4 text-left text-sm font-semibold text-gray-700 border-b border-gray-200 sortable-header traefik-column"
              data-sort-column="traefik">
              Traefik
            </th>
            <th
              class="table-cell-image py-3 px-4 text-left text-sm font-semibold text-gray-700 border-b border-gray-200 sortable-header"
              data-sort-column="image">
              Image
            </th>
            <th
              class="table-cell-tags py-3 px-4 text-left text-sm font-semibold text-gray-700 border-b border-gray-200 tags-column"
              data-sort-column="tags">
              Tags
            </th>
            <th
              class="table-cell-status py-3 px-4 text-left text-sm font-semibold text-gray-700 border-b border-gray-200 sortable-header"
              data-sort-column="status">
              Status
            </th>
          </tr>
        </thead>
        <tbody id="container-rows">
        </tbody>
      </table>
    </div>
  </div>

  <footer class="footer container mx-auto py-3 flex justify-center items-center text-sm text-gray-500 p-4">
    <div class="footer-section footer-center flex items-center space-x-9">
      <a href="/export/json" id="export-json-link" class="hover:text-blue-500"
        data-tooltip="Export container data for currently selected server">
        Export JSON
      </a>

      <span>
        Dockpeek
        {% if version and version != 'dev' %}
        <a href="https://github.com/dockpeek/dockpeek/releases/tag/{{ version }}" target="_blank"
          class="hover:text-blue-500">
          {{ version }}
        </a>
        {% else %}
        {{ version }}
        {% endif %}
      </span>
      <a href="https://github.com/dockpeek/dockpeek" target="_blank"
        class="flex items-center space-x-1 hover:text-blue-500">
        <svg width="16" height="16" viewBox="0 0 97 96" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z"
            fill="currentColor" />
        </svg>
        <span>GitHub</span>
      </a>
    </div>
  </footer>


  </div>
  </div>

  <template id="container-row-template">
    <tr class="hover:bg-gray-50">
      <td class="py-3 px-4 border-b border-gray-200 font-medium container-name-cell" data-content="name">
        <div class="container-name-wrapper inline-block items-center space-x-2">
          <div class="name-wrapper">
            <span data-content="container-name"></span>
          </div>
        </div>
      </td>
      <td class="py-3 px-4 border-b border-gray-200 text-gray-600 text-sm table-cell-stack" data-content="stack">
      </td>
      <td class="py-3 px-4 border-b border-gray-200 text-gray-400 text-sm server-column" data-content="server">
        <span data-content="server-name"></span>
      </td>
      <td class="py-3 px-4 border-b border-gray-200" data-content="ports">
      </td>
      <td class="py-3 px-4 border-b border-gray-200 traefik-column" data-content="traefik-routes">
      </td>
      <td class="py-3 px-4 border-b border-gray-200 table-cell-image">
        <div class="flex items-center space-x-2">
          <div class="image-wrapper">
            <div class="image-wrapper-inline">
              <code class="bg-gray-100 text-gray-700 px-2 py-1 rounded text-sm" data-content="image"></code>
            </div>
            <span class="update-indicator hidden" data-content="update-indicator" data-tooltip="Update available">
              <?xml version="1.0" encoding="utf-8"?>
              <svg fill="currentColor" width="20" height="20" viewBox="2 2 52 52" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M28 51.906c13.055 0 23.906-10.828 23.906-23.906 0-13.055-10.875-23.906-23.93-23.906C14.899 4.094 4.095 14.945 4.095 28c0 13.078 10.828 23.906 23.906 23.906m0-3.984C16.937 47.922 8.1 39.062 8.1 28c0-11.04 8.813-19.922 19.876-19.922 11.039 0 19.921 8.883 19.945 19.922.023 11.063-8.883 19.922-19.922 19.922m0-31.969c-.516 0-.89.188-1.36.656l-7.968 7.922c-.305.305-.445.727-.445 1.219 0 .96.726 1.688 1.687 1.688.492 0 .937-.188 1.242-.516l2.906-2.93 2.368-2.812-.188 4.945v12.21c0 1.032.727 1.759 1.758 1.759 1.008 0 1.758-.727 1.758-1.758V26.125l-.188-4.969 2.367 2.836 2.907 2.93c.304.351.726.515 1.242.515.96 0 1.71-.726 1.71-1.687 0-.492-.163-.914-.491-1.219l-7.922-7.922c-.469-.445-.867-.656-1.383-.656" />
              </svg>
            </span>
            <a href="#" class="source-link hidden text-gray-500 hover:text-blue-600" data-content="source-link"
              target="_blank" rel="noopener noreferrer">
              <svg width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round">
                <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path>
                <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path>
              </svg>
            </a>

          </div>
        </div>
      </td>
      <td class="py-3 px-4 border-b border-gray-200 table-cell-tags" data-content="tags">
      </td>
      <td class="py-3 px-4 border-b border-gray-200 table-cell-status" data-content="status">
      </td>
    </tr>
  </template>

  <div id="confirmation-modal" class="modal-overlay hidden">
    <div class="modal-content">
      <h2 id="modal-title" class="text-xl font-bold mb-4 text-gray-900">
        Confirmation
      </h2>
      <div id="modal-message" class="text-gray-600 mb-6 text-left whitespace-pre-line">
      </div>
      <div class="flex justify-center space-x-4">
        <button id="modal-cancel-button"
          class="px-6 py-2 rounded-lg bg-gray-200 text-gray-700 hover:bg-gray-300 font-medium">
          Cancel
        </button>
        <button id="modal-confirm-button"
          class="px-6 py-2 rounded-lg bg-red-500 text-white hover:bg-red-600 font-medium">
          Confirm
        </button>
      </div>
    </div>
  </div>

  <div id="updates-modal" class="modal-overlay hidden">
    <div class="modal-content">
      <h3 id="updates-modal-title" class="text-lg font-semibold mb-4 text-gray-900 font-medium">
        Updates Found
      </h3>
      <div id="updates-modal-message">
        <ul id="updates-list" class="list-none text-left mb-4">
        </ul>
      </div>
      <div class="flex justify-center space-x-3 mt-4">
        <button id="updates-modal-ok-button"
          class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 font-medium">
          OK
        </button>
      </div>
    </div>
  </div>
  <script type="module" src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>